<?php

	$s_catid=$catid;
	$CATES= getcache('category_content_'.$siteid,'commons');
	if($CATES[$s_catid]['parentid']==0){
		$x_catid=$s_catid;
	}elseif($CATES[$CATES[$s_catid]['parentid']]['parentid']==0){
		$x_catid=$CATES[$s_catid]['parentid'];
	}elseif($CATES[$CATES[$CATES[$s_catid]['parentid']]['parentid']][parentid]==0){
		$x_catid=$CATES[$CATES[$s_catid]['parentid']]['parentid'];
	}elseif($CATES[$CATES[$CATES[$CATES[$s_catid]['parentid']]['parentid']][parentid]][parentid]==0){
		$x_catid=$CATES[$CATES[$CATES[$s_catid]['parentid']]['parentid']][parentid];
	}else{
		$x_catid=$CATES[$CATES[$CATES[$CATES[$s_catid]['parentid']]['parentid']][parentid]][parentid];
	}
	
?>