<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员中心-课程系列</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
  
    <link href="{CSS_PATH}wap/base.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}wap/index.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}wap/media.css" rel="stylesheet" type="text/css">
    <script>
        document.documentElement.style.fontSize=document.documentElement.clientWidth/6.4+'px';
        window.addEventListener('resize',function(){
            document.documentElement.style.fontSize=document.documentElement.clientWidth/6.4+'px';
        },false);
    </script>
    <script src="{JS_PATH}default/jquery-3.1.0.min.js"></script>
    <style type="text/css">
    #myform{font-size: 0.14rem}

        #myform td.td1{width:25%;font-size: 0.14rem;text-align: right;margin-bottom: 15px}
     
        #myform td.td2 input{padding-left:5px;height: 28px;border: 1px solid #d1d1d1;margin-bottom: 15px}

        #myform .button {width: 100px;height: 28px;margin-top: 15px}
    </style>
</head>
<body class="gray">
<div class="base_arrow">
    <a href="/index.php?m=member&a=init"></a>
    <p>安全中心</p>
</div>
<div class="my">

   <form method="post" action="{APP_PATH}index.php?m=member&a=account_manage_password" id="myform" name="myform">
  <table cellpadding="0" cellspacing="0" class="table-gerenziliao">  
    <tr>
      <td class="td1">{L('old_password')}：</td>
      <td class="td2"><input name="info[password]" type="password" id="password" size="30" value="" class="input-text" ></td>
    </tr>
   <tr>
      <td class="td1">{L('new_password')}：</td>
      <td class="td2"><input name="info[newpassword]" type="password" id="newpassword" size="30" value="" class="input-text" ></td>
    </tr>
    <tr>
      <td class="td1">{L('re_input').L('new_password')}：</td>
      <td class="td2"><input name="info[renewpassword]" type="password" id="renewpassword" size="30" value="" class="input-text"  ></td>
    </tr>    
    <tr>
    <td class="td1" style="border-right:none"></td>
    <td  style="border-left:none"><input name="dosubmit" type="submit" id="dosubmit" value="{L('submit')}" class="button"></td>
      </tr>
    
  </table>
  </form>

</div>
</body>
</html>