
        <div class="huiYuan_one_right_footer clearFix">
            <div class="right_footer_left fl">
                <ul class="right_footer_ul clearFix">
                    <li><a href="{$CATEGORYS[16][url]}">加盟留言</a><span></span></li>
                    <li><a href="{$CATEGORYS[17][url]}">诚聘英才</a><span></span></li>
                    <li><a href="{$CATEGORYS[35][url]}">版权声明</a></li>
                </ul>
                <p>Copyright © 2017 北京树德管理咨询有限公司 . All Rights Reserved       京ICP备046546430号</p>
            </div>
            <div class="right_footer_right fr">
                <img src="{IMG_PATH}default/er_20.jpg">
                <p>关注扫描二维码</p>
            </div>
        </div>
    </div>
</div>
        <div class="back_top">
            <img src="{IMG_PATH}default/back_top.png">
        </div>
</body>
</html>