{template 'member', 'header'}
<style type="text/css">
	.layui-form{width: 80%;margin: 0 auto;margin-top: 20px;}
	.layui-form tr th{width: 100px;text-align: right;font-size: 13px;color: #707070;font-weight: normal;}
	.layui-form tr td .input-text{height: 28px;padding-left:10px;border: 1px solid #d1d1d1;margin-bottom: 15px}
	.layui-form tr td .button{width: 100px;height: 28px;margin-top: 15px;}
/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(statics/images/msg_bg.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

</style>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<div class="inner">
    <div class="center_bot clearFix">
    {template "member","left"}
    <style>
   .col-right{float: right}
    </style>
        <div class="center_bot_right fl">
          
            <div class="center_bot_right_title">安全中心</div>
            <div class="center_table_box">
                
               <form method="post" action="" id="myform" name="myform" class="layui-form login-form">
				<table width="100%" cellspacing="0" class="table_form">
				
					<tr>
						<th width="80">{L('old_password')}：</th>        
						<td><input name="info[password]" type="password" id="password" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th>{L('new_password')}：</th>
						<td><input name="info[newpassword]" type="password" id="newpassword" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th>{L('re_input').L('new_password')}：</th>
						<td><input name="info[renewpassword]" type="password" id="renewpassword" size="30" value="" class="input-text"></td>
					</tr>
					<tr>
						<th></th>
						<td><input name="dosubmit" type="submit" id="dosubmit" value="{L('submit')}" class="button"></td>
					</tr>
				</table>				
			</form>
             

               
            </div>
            
         

        </div>

    </div>
</div>


<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#newpassword").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#renewpassword").formValidator({onshow:"{L('input').L('cofirmpwd')}",onfocus:"{L('input').L('passwords_not_match')}",oncorrect:"{L('passwords_match')}"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"{L('input').L('passwords_not_match')}"});	
	$("#email").formValidator({onshow:"{L('input').L('email')}",onfocus:"{L('email').L('format_incorrect')}",oncorrect:"{L('email').L('format_right')}"}).inputValidator({min:2,max:32,onerror:"{L('email').L('between_2_to_32')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('email_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();
})
//-->
</script>
{template 'member', 'footer'}