{php $CATEGORYS = getcache('category_content_1','commons');}
<div class="copy clearFix">
    <div class="inner">
        <div class="copy_left fl">
            <ul class="clearFix">
                <li><a href="{$CATEGORYS[16][url]}">加盟留言 </a><span></span></li>
                <li><a href="{$CATEGORYS[17][url]}">诚聘英才 </a><span></span></li>
                <li><a href="{$CATEGORYS[35][url]}">版权声明 </a></li>
            </ul>
            <p>Copyright © 2017 北京树德管理咨询有限公司 . All Rights Reserved       京ICP备046546430号</p>
        </div>
        <div class="copy_right fr">
            <img src="{IMG_PATH}default/er_20.jpg">
            <div class="copy_right_txt">关注扫描二维码</div>
        </div>
    </div>
</div>
</body>
</html>