<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<title>树德平台 - {L('member','','member').L('manage_center')}</title>
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<link href="/statics/plugin/layerui/css/layui.css" rel="stylesheet" type="text/css">
<link href="{CSS_PATH}default/base.css" rel="stylesheet" type="text/css">
<link href="{CSS_PATH}default/index.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="top_line"></div>
<div class="header_top">
<div class="inner">
{template "content","header-nav"}
	</div>
</div>
<style type="text/css">
	#member-content{min-height: 380px;}
	.layui-form{width: 457px;margin: 80px auto 0px;}
	#step1,#step2{display: none;}
</style>
<div id="member-content" class="inner">

	<div id="step1">
		<form action="?m=member&c=ajaxlogin&a=public_forgetmobile" method="post" class="layui-form">
			<div class="layui-form-item">
			    <div class="layui-inline">
			      <label class="layui-form-label">手机号</label>
			      <div class="layui-input-inline">
			        <input type="tel" name="phone" placeholder="请输入注册手机号" lay-verify="phone" autocomplete="off" class="layui-input" style="width:325px">
			      </div>
			    </div>			   
			  </div>

			<div class="layui-form-item">
			    <label class="layui-form-label">验证码</label>
			    <div class="layui-input-inline">
			      <input type="password" name="yzcode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
			    </div>
			    <div class="layui-form-mid layui-word-aux">
			    	{form::checkcode('code_img', '5', '14', 120, 26)}"
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit lay-filter="forget">立即提交</button>
			      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			    </div>
			  </div>
			  <input type="hidden" name="step" value="1" />
			  <input type='hidden' name="dosubmit" value="1" />
		</form>

	</div>
	
	<div id="step2">
		<form action="?m=member&c=ajaxlogin&a=public_forgetmobile" method="post" class="layui-form">
			<div class="layui-form-item">
			    <div class="layui-inline">
			      <label class="layui-form-label">手机号</label>
			      <div class="layui-input-inline">
			    
			      	<div class="layui-form-mid layui-word-aux"><samp id="phonenumber">138****24</samp></div></div>
			      
			    </div>			   
			  </div>

			<div class="layui-form-item">
			    <label class="layui-form-label">验证码</label>
			    <div class="layui-input-inline">
			      <input type="text" id="validataCode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
			    </div>
			    <div class="layui-form-mid layui-word-aux" style="padding:0px">
			    	<input type="button" class="sign_two_submit" id="getValidateSMS" value="获取验证码" style="height:36px;line-height:36px">
			    </div>
			  </div>

			  	<div class="layui-form-item">
			    <label class="layui-form-label">新密码 </label>
			    <div class="layui-input-inline">
			      <input type="password" name="newpassword" id="newpassword" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
			    </div>
			    <div class="layui-form-mid layui-word-aux" >
			    	密码至少6位
			    </div>
			  </div>

			 	<div class="layui-form-item">
			    <label class="layui-form-label">重复新密码 </label>
			    <div class="layui-input-inline">
			      <input type="password" name="renewpassword" id="renewpassword" required lay-verify="required" placeholder="重复新密码" lay-verify="equalTO" autocomplete="off" class="layui-input">
			    </div>
			    <div class="layui-form-mid layui-word-aux" >
			    	密码至少6位
			    </div>
			  </div>
			
			  <div class="layui-form-item">
			    <div class="layui-input-block">
			      <a href="javascript:;" class="layui-btn" lay-submit  id="confirmSub">立即提交</a>
			     
			    </div>
			  </div>
			  <input type="hidden" name="step" value="2" />
			  <input type='hidden' name="dosubmit" value="1" />
		</form>

	</div>


</div>
<script src="statics/plugin/layerui/lay/dest/layui.all.js"></script>
<script type="text/javascript" src="{JS_PATH}cookie.js"></script>
<script>
delcookie('step');
var step=getcookie('step')?getcookie('step'):1;

$("#step"+step).show();
//Demo
layui.use('form', function(){
  var form = layui.form(); 
  //监听提交
  form.on('submit(forget)', function(data){  
  	 $.ajax({
        url: data.form.action,
        type: data.form.method,
        data: $(data.form).serialize(),
        success: function (info) {
        	if(typeof(info)!='object'){
        		info=$.parseJSON(info);
        	}
           if (info.code == '1') {
           		
          	  $("#step1").hide();	
          	 // setcookie('step',info.step,"1/24000");
			 	$("#phonenumber").html($("input[name='phone']").val());
               $("#step2").show();           
            }
            console.log(info)
            layer.msg(info.msg);
              if(info.url){
              	console.log(info.url)
            	  setTimeout(function () {
                  location.href = info.url;
                }, 1000);
              	
              }
            $("#code_img").attr('src',$("#code_img").attr('src')+"&"+Math.random())
        }
    });
    //layer.msg(JSON.stringify(data.field));
    return false;
  });
});

var flagValidateCodeM=false;
var countdown=60;
$(document).ready(function(){
	if(getcookie("t_time")){
			intv = setInterval(changeText, 1000);
			countdown=getcookie("t_time");
		}
	$("#getValidateSMS").click(function(event) {
			if(!flagValidateCodeM){			
			$.get("api.php?op=sms",{random:Math.random()}, function(data){
						if(data=="0") {
							layer.msg("验证码以短信形式发送至您的手机");
							//$("#mobile").attr("disabled",true);//防止发送后更改电话号码	
							//setcookie('mobile', $("#mobile").val());		
							intv = setInterval(changeText, 1000);
						} else if(data=="-1") {
							layer.msg("你今天获取验证码次数已达到上限");
						}else if(data=='-3'){
							layer.msg("当前ip已达最大注册数");
						} else {
							layer.msg("短信发送失败");
						}
					});
					
			}			
		});

		function changeText() {			
		if (countdown <= 0) {
			$("#getValidateSMS").val("获取短信验证码");			
			 $('#getValidateSMS').removeClass('disabled');
			 flagValidateCodeM=false;
			 clearInterval(intv);
			 countdown = 60;
			delcookie('t_time');
		   $("#mobile").attr("disabled",false);//防止发送后更改电话号码  
		} else {
			countdown--;
			$("#getValidateSMS").val(countdown+"秒后重新获取");
			$("#getValidateSMS").addClass('disabled')
			setcookie("t_time",countdown)
			flagValidateCodeM=true
			//console.log(countdown)

		}
	}


	$("#confirmSub").click(function(){
		var code=$("#validataCode").val();
		if(code.length!=6){
			layer.msg("请输入6位验证码");			
		}else{
			if($("#newpassword").val()!==$("#renewpassword").val()){
			layer.msg("两次密码输入不同");
			return false;
			}
			$.ajax({
			url: '?m=member&c=ajaxlogin&a=public_forgetmobile',
			type: 'post',
			dataType: 'json',
			data: {'dosubmit': '1','code':code,'step':2,'newpassword':$("#newpassword").val()},
			success:function(info){
				if(typeof(info)!='object'){
        		info=$.parseJSON(info);
        	}
        	if(info.code==1){
        		console.log(info.msg)
        		if(info.url){
        			 setTimeout(function () {
                  location.href = info.url;
                }, 3000);
        		}       		
        	}
        	layer.msg(info.msg);
			}
		})
		
		}});

	})


</script>
{template 'member', 'footer'}