<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树德咨询-{L('member','','member').L('manage_center')}</title>
    <link href="{CSS_PATH}default/base.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}default/index.css" rel="stylesheet" type="text/css">
    <script src="{JS_PATH}default/jquery-3.1.0.min.js"></script>
    
</head>
<body>
	{php $siteinfo = siteinfo($this->memberinfo['siteid']);}
<div class="center_header">
    <div class="inner clearFix">
    <a href="/" style="display:inline"> <img src="{IMG_PATH}default/logo2.png" class="fl center_header_logo"></a>
        <span class="fl"></span>
       <!--  <h3 class="fl">会员中心</h3> -->
        <p class="fr"> <!-- {$memberinfo['nickname']}，您好 --> <a href="{APP_PATH}index.php?m=member&c=index&a=logout">[安全退出]</a></p>
    </div>
</div>
